.box {
  width: 150px;
  height: 150px;
}

.flex {
  display: flex;
  gap: 40px;
}

.img {
  width: 550px;
  height: 509px;
  top: -246px;
  left: -702px;
}

.raw {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.text {
  text-align: end;
  text-shadow: 3px 3px 10px #000000;
  font-size: 15px;
  justify-content: end;
  display: flex;
  gap: 150px;
  margin-bottom: 20px;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.box1 {
  box-shadow: 0 5px 20px #2FC63C;
  border-radius: 10px;
}

.box2 {
  box-shadow: 0 0 20px #646463;
  border-radius: 10px;
}

.box3 {
  box-shadow: 3px 3px 15px #000000;
  border-radius: 10px;
}

.box4 {
  box-shadow: 3px 3px 15px #000000;
  border-radius: 10px;
}

.box5 {
  box-shadow: 3px 3px 10px #777676;
  border-radius: 10px;
}

.box6 {
  box-shadow: 3px 4px 12px rgb(209, 36, 36);
  border-radius: 10px;
}

.box7 {
  box-shadow: 3px 3px 10px #007FFDEB;
  border-radius: 10px;
}

.box8 {
  box-shadow: 5px 5px 10px #000000AB;
  border-radius: 10px;
}

.box9 {
  box-shadow: 3px 3px 15px #000000;
  border-radius: 10px;
}